<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org">
<head th:replace="~{professor/master-page :: head-mp}" ></head>
<body>
    <title>Sección</title>
    <header th:replace="~{professor/master-page :: header-navbar}"></header>
    
    <div class="container body">

        <div class="row mt-4">
            <div class="mt-1">
                <h1 class="pb-2 mb-4" th:text="${course.nameCourse}"></h1>
                <div class="row"></div>
            </div>
        </div> 
    
        <div class="row mb-4">

            <div class="col-6">
                <button type="button" class="btn btn-success ps-5 pe-5 pt-2 pb-2" data-bs-toggle="modal" data-bs-target="#addDescriptionModal">
                    Agregar Nueva sesión
                </button>
            </div>

            <!-- Modal add Sesion -->
            <div class="modal fade" id="addDescriptionModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Nueva Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="descriptionForm" method="post" th:action="@{/material/agregar-sesion}">
                                <div class="mb-3">
                                    <label for="description" class="form-label">Temas de la Sesión</label>
                                    <textarea class="form-control" id="description-sesion" name="description-sesion" rows="4" required></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cbo Nav -->
            <div class="d-flex justify-content-end col-6">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle ps-5 pe-5 pt-2 pb-2" type="button" id="sessionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Sesiones
                    </button>
                    <ul class="dropdown-menu" id="lst-session" aria-labelledby="sessionDropdown">
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectSession('Sesiones', 1)">Sesiones</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectSession('Estudiantes', 2)">Estudiantes</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectSession('Información', 3)">Información</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="last-add mb-4 mt-3">
            
            <!-- Cbo Alter Sesion Introduccion -->
            <div class="row view-sesions" name="view-sesions">
                <div class="text-center mb-4">
                    <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle ps-5 pe-5 pt-2 pb-2 col-12" style="font-size: 20px;" type="button" id="numberSection" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#lists.size(materials) > 0 ? materials[0].titleMaterial : 'Introducción'}"></button>
                            <ul class="dropdown-menu dropdown-menu-dark col-2 text-center" aria-labelledby="numberSection">
                                <li th:each="material : ${materials}">
                                    <a class="dropdown-item" href="#" th:data-id="${material.idMaterial}" th:data-title="${material.titleMaterial}" th:data-description="${material.descriptionMaterial}" onclick="alternateView(event, this)">
                                        <span th:text="${material.titleMaterial}"></span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            
            <!-- Content description session -->
            <div class="row view-sesions" name="view-sesions" style="justify-content: center;">
                <div class="card min-width">
                    <div class="card-body">
                        <div id="data-material">
                            <h4 id="tituloSesion" class="mb-3">Resumen</h4>
                            <p id="descripcionSesion" th:text="${#lists.size(materials) > 0 ? materials[0].descriptionMaterial : 'No hay descripción disponible'}"></p>

                            <div th:each="material : ${materials}">
                                <div th:each="resource : ${resources}">
                                    <div th:if="${material.idMaterial == resource.material.idMaterial}" class="mb-2">
                                        <div class="border p-3 bg-light rounded infoAboutResources" style="display: none;">
                                            <button class="seleccionBtn btn btn-primary d-flex align-items-center justify-content-left pb-2 pt-2 col-12" data-bs-toggle="modal" data-bs-target="#resourceModalView"
                                                type="button" th:attr="data-linkWeb=${linksForResorces[resource.idResource]}" 
                                                th:data-archiveName="${lstArchivesNames[resource.idResource]}"
                                                th:data-archiveID=${lstArchivesID[resource.idResource]}
                                                th:text="${resource.nameResource}" 
                                                th:data-idResource="${resource.idResource}"
                                                th:data-descriptionResour="${resource.descriptionResorce}"
                                                th:data-nameResour="${resource.nameResource}"
                                                th:data-typeResour="${resource.typeResource}"
                                                th:data-dateUpload="${resource.uploadDate}"
                                                th:data-nameMaterial="${material.titleMaterial}">
                                            </button>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>

                            <div id="addResourceBTN">
                                <div class="border p-3 bg-light rounded">
                                    <button type="button" class="btn btn-secondary d-flex align-items-center justify-content-left gap-2 col-12" data-bs-toggle="modal" id="buttonResource" data-bs-target="#addResourceModal">
                                        <i class="bi bi-plus-circle fs-5"></i>
                                        Agregar recurso
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal view Resource -->
            <div class="modal fade" id="resourceModalView" tabindex="-1" aria-labelledby="nameResourceSesion" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nameResourceSesion">Detalle de Recurso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span>Descripción:</span>
                            <p class="text-muted" id="descriptionResourceSesion"></p>
                            <span>Tipo de recurso:</span>
                            <p class="text-muted" id="typeResourceSesion"></p>
                            <span>Fecha de carga:</span>
                            <p class="text-muted" id="dateUploadSesion"></p>
                            <div id="enlaceIf">
                                <span>Enlace:</span>
                                <div class="text-break">
                                    <a id="enlaceWebSession" href="#" class="d-block text-primary"></a>
                                </div>
                            </div>
                            <div id="archivoIf">
                                <span>Descargar Archivo:</span>
                                <div class="text-break mt-2">
                                    <a id="archiveDownload" href="#" class="btn btn-success"></a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>  


            <!-- Modal add Resource -->
            <div class="modal fade" id="addResourceModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Nuevo Recurso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="resourceForm" method="post" th:object="${resourceData}" th:action="@{/material/agregar-recurso}" enctype="multipart/form-data"> 
                                <input type="hidden" name="nameSesion" id="nameSesion">
                                <div class="mb-3">
                                    <label for="nameResource" class="form-label">Título del recurso</label>
                                    <input type="text" class="form-control" id="titleResourceD" name="titleResourceD" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description-resource" class="form-label">Descripción</label>
                                    <textarea class="form-control" id="description-resource" name="descriptionResourceD" rows="4" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="typeResource" class="form-label">Tipo de recurso</label>
                                    <select name="typeResourceD" id="typeResource" class="form-select">
                                        <option value="Selecciona">Selecciona</option>
                                        <option value="Enlace Web">Enlace Web</option>
                                        <option value="Archivo">Archivo</option>
                                    </select>
                                </div>
                                <!-- Se cambiara dinamicamente de acuerdo al select -->
                                <div hidden id="view-linkWeb" class="mb-4">
                                    <label for="linkWeb" class="form-label">Link</label>
                                    <input type="text" class="form-control" id="linkWeb" name="urlD">
                                </div>
                                <div hidden id="view-archive" class="mb-4">
                                    <label for="archiveUp" class="form-label">Subir archivo</label>
                                    <input type="file" class="form-control" id="archiveUp" name="fileArchiveD">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Agregar recurso</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Students -->
            <div class="row view-students" style="justify-content: center; display: none;" id="view-students">
                <div class="card min-width">
                    <div class="card-body">
                        <div id="data-students">
                            
                            <h2 class="mt-2 mb-4">Lista de Estudiantes</h2>
                            
                            <div class="row">
                                <div class="col-12 col-md-4 mb-4" th:each="student : ${section.students}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-md-5" style="text-align: center;">
                                                    <i class="bi bi-person-circle" style="font-size: 100px;"></i>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <div>
                                                        <h5 class="card-title mt-3" th:text="|${student.person.user.codUser}"></h5>
                                                    </div>
                                                    <div>
                                                        <h5 class="card-title mt-3">Estudiante</h5>
                                                        <span>
                                                            <p class="mb-1" style="font-size: 17px; margin-right: 20px;" th:text="|${student.person.name} ${student.person.lastname}|">: </p> 
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <h5 class="card-title mt-3">Email</h5>
                                                        <span>
                                                            <p class="mb-1" style="font-size: 17px; margin-right: 20px;" th:text="|${student.person.email}">: </p> 
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Information Course and Professor -->
            <div class="row view-information" style="justify-content: center; display: none;" id="view-information">
                <div class="card min-width">
                    <div class="card-body">
                        <div id="data-information">
                            <div class="row">
                                <div class="col-6 col-md-4" style="text-align: right;">
                                    <i class="bi bi-person-badge-fill" style="font-size: 150px;"></i>
                                </div>
                                <div class="col-6 col-md-8 mt-3">
                                    <div>
                                        <h4>Docente:</h4>
                                        <p style="font-size: 18px;" th:text="|${course.professor.person.name}  ${course.professor.person.lastname}|"></p>
                                    </div>
                                    <div>
                                        <h4>Horario:</h4>
                                        <p style="font-size: 18px;" th:text="|${#strings.listJoin(section.day.![nameDay], ', ')} de ${section.hourStart}h a ${section.hourEnd}h|"></p>
                                    </div>
                                    <div>
                                        <h4>Sección:</h4>
                                        <p style="font-size: 18px;" th:text="|${section.codSection}|"></p>
                                    </div>
                                    <div>
                                        <h4>Estado:</h4>
                                        <p style="font-size: 18px;" th:text="|${section.state}|"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".seleccionBtn").forEach(button => {
                button.addEventListener("click", function () {

                    // General
                    document.getElementById("nameResourceSesion").textContent = this.getAttribute("data-nameResour");
                    document.getElementById("descriptionResourceSesion").textContent = this.getAttribute("data-descriptionResour");
                    document.getElementById("typeResourceSesion").textContent = this.getAttribute("data-typeResour");
                    document.getElementById("dateUploadSesion").textContent = formatDate(this.getAttribute("data-dateUpload"));

                    // Hidden
                    var viewEnlace = document.getElementById("enlaceIf");
                    var viewArchive = document.getElementById("archivoIf");
                    viewEnlace.style.display = "none";
                    viewArchive.style.display = "none";

                    if (this.getAttribute("data-linkWeb") !== null) {
                        // Enlace:
                        var enlace = document.getElementById("enlaceWebSession");
                        viewEnlace.style.display = "block";
                        enlace.href = this.getAttribute("data-linkWeb");
                        enlace.textContent = this.getAttribute("data-linkWeb");
                        enlace.target = "_blank";   
                    }
                    else {
                        // Archivo:
                        viewArchive.style.display = "block";
                        var archive = document.getElementById("archiveDownload");
                        archive.textContent = this.getAttribute("data-archiveName");
                        archive.href = "/material/descargar/" + this.getAttribute("data-archiveID");
                    }
                });
            });
        });

        function formatDate(dateString) {
            let date = new Date(dateString);
            let day = String(date.getDate()).padStart(2, '0');
            let month = String(date.getMonth() + 1).padStart(2, '0');
            let year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }

        document.addEventListener("DOMContentLoaded", function(){
            document.getElementById("nameSesion").value = "Introducción";
            var divsResources = document.getElementsByClassName("infoAboutResources");
            for (var i = 0; i < divsResources.length; i++) {
                var buttons = divsResources[i].getElementsByTagName("button"); 
                for (var j = 0; j < buttons.length; j++) {
                    var dataTitle = buttons[j].getAttribute("data-nameMaterial"); 
                    if (dataTitle == "Introducción") {
                        divsResources[i].style.display = "block";
                        break;
                    }
                }
            }
        })

        function addMaterial(titulo){
            var divsResources = document.getElementsByClassName("infoAboutResources");
            for (var i = 0; i < divsResources.length; i++) {
                divsResources[i].style.display = "none";
                var buttons = divsResources[i].getElementsByTagName("button"); 
                for (var j = 0; j < buttons.length; j++) {
                    var dataTitle = buttons[j].getAttribute("data-nameMaterial"); 
                    if (dataTitle == titulo) {
                        divsResources[i].style.display = "block";
                        break;
                    }
                }
            }
        }

        function alternateView(event, element) {
            if (event) {
                event.preventDefault(); // Evita que el enlace cambie la URL
            }
            var title = element.getAttribute("data-title");
            var description = element.getAttribute("data-description");

            var header = (title === "Introducción") ? "<h4 class='mb-3'>Resumen</h4>" : "<h4 class='mb-3'>Temas</h4>";

            var descriptionHTML = "";
            if (description) {
                var items = description.split("\n").map(line => line.trim()).filter(line => line.length > 0);
                descriptionHTML = items.map(item => `<p>${item}</p>`).join("");
            }

            document.getElementById("tituloSesion").innerHTML = `${header}`;
            document.getElementById("descripcionSesion").innerHTML = `${descriptionHTML}`;
            addMaterial(title);
            document.getElementById("addResourceBTN").innerHTML = 
                    `<div class="border p-3 bg-light rounded">
                                    <button type="button" class="btn btn-secondary d-flex align-items-center justify-content-left gap-2 col-12" data-bs-toggle="modal" id="buttonResource" data-bs-target="#addResourceModal">
                                        <i class="bi bi-plus-circle fs-5"></i>
                                        Agregar recurso
                                    </button>
                                </div>`;

            // Actualiza el texto del botón con el título de la sesión
            document.getElementById("numberSection").innerText = title;
            document.getElementById("nameSesion").value = title;
        }

        function selectSession(textElement, numberElement){

            document.getElementById("sessionDropdown").innerText = textElement;

            var viewMaterials = document.getElementsByClassName("view-sesions"); // 1
            var viewStudent = document.getElementsByClassName("view-students"); // 2
            var viewInformation = document.getElementsByClassName("view-information"); // 3

            for (let i = 0; i < viewMaterials.length; i++) {
                viewMaterials[i].style.display = "none";
            }
            for (let i = 0; i < viewStudent.length; i++) {
                viewStudent[i].style.display = "none";
            }
            for (let i = 0; i < viewInformation.length; i++) {
                viewInformation[i].style.display = "none";
            }

            if (numberElement === 1){
                for (let i = 0; i < viewMaterials.length; i++) {
                    viewMaterials[i].style.display = "block";
                }
            } else if (numberElement === 2){
                for (let i = 0; i < viewStudent.length; i++) {
                    viewStudent[i].style.display = "block";
                }
            } else if (numberElement === 3){
                for (let i = 0; i < viewInformation.length; i++) {
                    viewInformation[i].style.display = "block";
                }
            }
        }

        document.getElementById("typeResource").addEventListener("change", function(){
            var selectTypeResource = document.getElementById("typeResource").value;
            var viewArchive = document.getElementById("view-archive");
            var viewLinkWeb = document.getElementById("view-linkWeb");

            if (selectTypeResource == "Selecciona"){
                viewLinkWeb.hidden = true;
                viewArchive.hidden = true;
            }
            else if (selectTypeResource == "Enlace Web"){
                viewLinkWeb.hidden = false;
                viewArchive.hidden = true;
            }
            else {
                viewLinkWeb.hidden = true;
                viewArchive.hidden = false;
            }
        })

    </script>
    
    <footer th:replace="~{professor/master-page :: footer}"></footer>
</body>
</html>