<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org">
<head th:replace="~{professor/master-page :: head-mp}" ></head>
<body>
    <title>Lista de Estudiantes</title>
    <header th:replace="~{professor/master-page :: header-navbar}"></header>

    <div class="container body">

        <div class="row mt-4">
            <div class="mt-1">

                <h1 class="pb-2 mb-4">Lista de Estudiantes</h1>

                <div class="row">

                    <div class="col-8 col-md-4">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar Estudiante" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>

                    <div class="col-4 col-md-8" style="text-align: right;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Activos
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Activos</a></li>
                                <li><a class="dropdown-item" href="#">Inactivos</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            
            <div class="col-12 mt-4">
                <table class="table text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Email</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.person.user.codUser}"></td>
                            <td th:text="${student.person.name}"></td>
                            <td th:text="${student.person.lastname}"></td>
                            <td th:text="${student.person.email}"></td>
                            <td th:text="${student.person.numberPhone}"></td>
                            <td>
                                <button class="btn btn-success" role="button">
                                    <i class="bi bi-eye"></i>
                                </button>
                                <a th:href="@{'/estudiantes/editar/' + ${student.idStudent}}" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button class="btn btn-danger" role="button">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <footer th:replace="~{professor/master-page :: footer}"></footer>
</body>
</html>